body {
	margin: 0;
	overflow: hidden;
	font-family: "Pirata One", cursive;
	color: #2b1d0e;
}

#game {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

#choices {
	position: absolute;
	bottom: 120px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	text-align: center;
}

.choice-btn {
	display: block;
	width: 100%;
	max-width: 400px;

	margin: 10px auto;
	padding: 12px;

	background: #7a4b18;
	color: white;

	border: none;
	border-radius: 10px;

	font-size: 18px;
	cursor: pointer;

	transition: 0.2s;
}

.choice-btn:hover {
	background: #a86a2b;
}

/* BACKGROUND */

#background {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: url("bg/sea.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* CHARACTER */

#character {
	position: absolute;
	bottom: 140px;
	left: 50%;
	transform: translateX(-50%);

	height: 100%;
	max-height: 420px;

	filter: drop-shadow(0px 10px 15px black);
	animation: characterEnter 0.6s ease;
}

@keyframes characterEnter {
	from {
		transform: translate(-50%, 50px);
		opacity: 0;
	}

	to {
		transform: translate(-50%, 0);
		opacity: 1;
	}
}

/* DIALOGUE BOX */

.dialogue {
	position: absolute;
	bottom: 20px;
	left: 50%;

	transform: translateX(-50%);

	width: 85%;
	max-width: 1000px;

	background: #f6e2b3;
	border: 6px solid #7a4b18;
	border-radius: 20px;

	padding: 25px;

	box-shadow:
		0px 10px 20px rgba(0, 0, 0, 0.7),
		inset 0px 0px 20px rgba(0, 0, 0, 0.3);

	cursor: pointer;
}

/* TEXT */

#text {
	font-size: 22px;
	line-height: 1.6;
}

/* NAME PLATE */

.nameplate {
	position: absolute;
	top: -28px;
	left: 30px;

	background: #7a4b18;
	color: white;

	padding: 6px 20px;

	border-radius: 12px;

	font-size: 22px;

	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

/* NEXT ARROW */

.next {
	position: absolute;
	right: 20px;
	bottom: 15px;

	font-size: 28px;

	animation: blink 1s infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

/* ========================= */
/* TABLET RESPONSIVE */
/* ========================= */

@media (max-width: 900px) {
	#character {
		height: 35vh;
		bottom: 160px;
	}

	.dialogue {
		width: 90%;
		padding: 20px;
	}

	#text {
		font-size: 20px;
	}

	.nameplate {
		font-size: 20px;
	}
}

/* ========================= */
/* MOBILE RESPONSIVE */
/* ========================= */

@media (max-width: 600px) {
	#character {
		height: 30vh;
		bottom: 170px;
	}

	.dialogue {
		width: 95%;
		padding: 15px;
	}

	#text {
		font-size: 18px;
	}

	.nameplate {
		font-size: 18px;
	}
}

/* ========================= */
/* SMALL MOBILE */
/* ========================= */

@media (max-width: 400px) {
	#character {
		height: 100%;
		bottom: 110px;
	}

	#text {
		font-size: 16px;
	}

	.nameplate {
		font-size: 16px;
	}
}
